.catalog_container {
  display: flex;
  gap: 64px;
}

.filter_container {
  width: 360px;
}

.adverts_container {
  width: 888px;
}

.btn_load_more {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 200px;
  background-color: var(--color-white);
  border: 1px solid rgba(71, 84, 103, 0.2);
  margin-bottom: 100px;
}
