.details {
  padding-bottom: 44px;
}

.text_title {
  color: var(--color-main);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
}

.list_info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list_info_item {
  display: flex;
  justify-content: space-between;
}

.text_info {
  color: var(--color-main);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

.text_form {
  text-transform: capitalize;
}
