@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --color-main: #101828;
  --color-white: #ffffff;
  --color-text-light: #475467;
  --color-red: #e44848;
  --color-star: #ffc531;
  --color-details: #f2f4f7;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white);
  color: var(--color-text-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1342px;
  padding: 0 15px;
  margin: 0 auto;
}

.active {
  color: var(--color-red);
  position: relative;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 5px;
  background-color: var(--color-red);
  border-radius: 2px;
}

.text_main {
  color: var(--Main, #101828);

  font-weight: 500;
  line-height: 1.5;
}

.body_lock {
  overflow-y: hidden;
}
